{% extends '::base.html.twig' %}
{% block title %}S'abonner{% endblock %}
{% block body %}




<div class="alert alert-warning">
	<h3>S'abonner</h3>
	Pour vous abonner aux services premium de la bilbiothèque, merci de vous rapporter à un bibliothécaire sur place, ou alors envoyer un chèque d'un montant de 321€ au :
	<br><b>2 rue de l'université, 62300 LENS</b>
</div>

<div class="alert alert-success">
	<p><b>Les avantages : </b></p>
	<p><span class="glyphicon glyphicon-ok"></span> Jusqu'à 6 livres empruntables en même temps</p>
	<p><span class="glyphicon glyphicon-ok"></span> Une durée d'emprunt doublée (4 semaines)</p>
</div>



{% endblock %}