{% extends '::base.html.twig' %}
{% block title %}S'abonner{% endblock %}
{% block body %}


<h3>S'abonner</h3>

<div class="row">
	Pour vous abonner aux services premium de la bilbiothèque, merci de vous rapporter à un bibliothécaire sur place, ou alors envoyer un chèque d'un montant de 321€ au :
	<br>2 rue de l'université, 62300 LENS
</div>


{% endblock %}