{% extends '::base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}


<h3>Contactez-nous</h3>


<div class="contact">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2541.1434303682013!2d2.8073500000000005!3d50.43842899999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd308a06db2f01%3A0x2671190e96c659c0!2sIUT+de+LENS!5e0!3m2!1sfr!2sfr!4v1427400908706" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>


{% endblock %}