{% extends '::base.html.twig' %}
{% block title %}Réglement{% endblock %}
{% block body %}

<h3>Réglement de la Bibliothèque</h3>
</br>

<h4>La Bibliothèque est un service public destiné à toute la population. Elle contribue aux
loisirs, à la culture, à l’information, à la formation et à la documentation du public.</h4>
</br>

<h4>I – CONSULTATION SUR PLACE</h4>
<ul>
	<li>L’accès et la consultation sur place des documents sont ouverts à tous, gratuitement, et ne
	nécessitent pas d’inscription.</li>
	<li>Certains documents sont exclus du prêt et ne peuvent être consultés
	que sur place ; ils font alors l’objet d’une signalisation particulière.</li>
</ul>
</br>

<h4>II – INSCRIPTION A TITRE INDIVIDUEL</h4>
<ul>
	<li>Pour s’inscrire, l’usager doit présenter une pièce d’identité (carte nationale d’identité, permis de
	conduire, carte d’étudiant…), un justificatif d’adresse (quittance de loyer, facture de téléphone ou
	d’électricité…) datant de moins de 3 mois.</li>
	<li>L’usager mineur doit présenter obligatoirement une autorisation des parents.</li>
	<li>Une carte d’emprunteur sera alors remise à l’usager lors de sa première inscription, valable pour un
	an. Tout changement de domicile doit être immédiatement signalé.</li>
	<li>L’emprunt de document à titre individuel est soumis à une inscription renouvelable chaque année, de
	date en date (ou par année civile).</li>
	<li>Le montant des droits à acquitter est fixé par le Conseil municipal, et révisable
	annuellement.</li>
	<li>Cette cotisation n’est en aucun cas remboursable.</li>
</ul>
</br>

<h4>III – PRET A DOMICILE</h4>
<ul>
	<li>Le prêt est consenti à titre individuel et sous la responsabilité de l’emprunteur.</li>
	<li>Le nombre de documents empruntables par support et la durée des prêts sont précisés lors de
	l’inscription et figurent en annexe de ce règlement.</li>
	<li>En cas de retard dans la restitution des documents empruntés, la bibliothèque se réserve le droit de
	prendre toutes dispositions pour assurer le retour desdits documents (rappels écrits ou téléphoniques,
	amendes dont le montant est fixé par arrêté municipal, suspension du droit de prêt).</li>
	<li>En cas de perte ou de détérioration d’un document, l’emprunteur doit assurer son
	remplacement ou le remboursement de sa valeur.</li>
</ul>
</br>

<h4>IV – INSCRIPTION A TITRE COLLECTIF</h4>
<ul>
	<li>Une carte d’emprunteur est remise à un responsable désigné par sa collectivité.</li>
	<li>Les conditions d’inscription sont identiques à celles exigées pour l’inscription individuelle.</li>
	<li>Peuvent s’inscrire au titre de collectivité et sur justificatif :</li>
	<ul>
		<li>Les établissements scolaires,</li>
		<li>Les centres socio-éducatifs,</li>
		<li>Les établissements de santé,</li>
		<li>Les maisons de retraite,</li>
		<li>Les clubs du 3ème âge.</li>
	</ul>
</ul>
</br>

<h4>V – DROITS ATTACHES AUX DOCUMENTS</h4>

La Bibliothèque respecte la législation en vigueur sur la reproduction des documents et
celle relative aux droits d’auteurs. Aussi elle dégage sa responsabilité de toute infraction aux
règles énoncées ci-dessous.
<ul>
	<li>Les auditions ou visionnements des documents multimédia sont exclusivement réservés à un usage
	personnel dans le cadre familial ou privé (Cercle de famille).</li>
	<li>La reproduction partielle des documents écrits n’est tolérée que pour un usage strictement
	personnel.</li>
	<li>La reproduction partielle ou totale des documents sonores et multimédia (vidéos, cédéroms) est
	formellement interdite.</li>
</ul>
</br>

<h4>VI – COMPORTEMENT DES USAGERS</h4>
<ul>
	<li>Les lecteurs sont tenus de respecter le calme à l’intérieur des locaux afin de respecter la tranquillité
	et le travail d’autrui.</li>
	<li>Il est interdit de fumer, manger et d’utiliser un téléphone portable dans les locaux de la bibliothèque,
	sauf animation expressément organisée par le(s) bibliothécaire(s).</li>
	<li>Les animaux ne sont pas admis, exception faite pour les chiens d’usagers handicapés.</li>
	<li>Les enfants sont, dans les locaux, sous la responsabilité de leurs parents. Le personnel de la
	bibliothèque les accueille, les conseille mais ne peut en aucun cas les garder.</li>
</ul>
</br>

<h4>VII – APPLICATION DU REGLEMENT</h4>
<ul>
	<li>Tout usager s’engage à se conformer au présent règlement.</li>
	<li>Des infractions graves ou négligences répétées peuvent entraîner la suppression temporaire ou
	définitive du droit de prêt, voire de l’accès à la bibliothèque.</li>
	<li>Le personnel de la bibliothèque est chargé de l’application du présent règlement dont un exemplaire
	est remis à l’usager lors de son inscription, un autre exemplaire étant affiché en permanence dans les
	locaux.</li>
</ul>
</br>


{% endblock %}