{% extends '::base.html.twig' %}
{% block title %}Site de la Mairie{% endblock %}
{% block body %}

<h3>Site de la Mairie</h3>

<p>Visitez le site de la mairie en <a target="_blank" href="http://www.villedelens.fr/culture/la-mediatheque-robert-cousin.html">cliquant ici !</a></p>

{% endblock %}