{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div><br />
		<div class="well well-lg">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">Adresse email :</label>
        <input type="text" id="username" name="username" required="required" />
		<div><br />
			<input type="submit"  class="btn btn-default" value="{{ 'resetting.request.submit'|trans }}" />
			<a class="btn btn-default" href="{{ app.request.getBasePath() }}" role="button">Retour à l'acceuil</a>
		</div>
		</div>
		
    </div>
   
</form>
